.projects {
    min-height: 100vh;
    position: relative;

    padding: 120px 8% 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.projects-content {
    width: 100%;
    max-width: 1400px;
}

#projects h2 {
    font-size: 3rem;
    text-align: center;
}

.project-carousel {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 25px;
    align-items: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.project-card {
    background: #1e293b;
    padding: 30px;
    border-radius: 20px;
    transition: transform 0.3s ease;

    height: 450px;
    overflow: auto;

    display: flex;
    flex-direction: column;
    text-align: center;
}


.project-card button {
    margin-top: auto;
}

.project-card:hover {
    transform: translateY(-10px);
}

.projects h3 {
    margin-top: 50px;
}